@tailwind base;
@tailwind components;
@tailwind utilities;

/* assets/css/main.css */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
